{% extends 'layout.html' %}
{% block main %}
<div class="con">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">概览</h3>
        </div>
        <div class="panel-body">
            <ul class="summer">
                <li><a href="#"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>100篇文章</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>100条评论</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">活动</h3>
        </div>
        <div class="panel-body">
            <p>近期发布</p>
            <div class="play">
                <time>下午9:41 01月31日</time>
                <a href="#">新出的免费SSL证书，周期一年（alwaysonssl）</a>
            </div>
            <div class="play">
                <time>下午9:41 01月31日</time>
                <a href="#">新出的免费SSL证书，周期一年（alwaysonssl）</a>
            </div>
            <div class="play">
                <time>下午9:41 01月31日</time>
                <a href="#">新出的免费SSL证书，周期一年（alwaysonssl）</a>
            </div>
            <div class="play">
                <time>下午9:41 01月31日</time>
                <a href="#">新出的免费SSL证书，周期一年（alwaysonssl）</a>
            </div>
            <div class="play">
                <time>下午9:41 01月31日</time>
                <a href="#">新出的免费SSL证书，周期一年（alwaysonssl）</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">近期评论</h3>
        </div>
        <div class="panel-body review">
            <div class="clearfix">
                <img src="/public/img/aboutme2.jpg">
                <p>由<a href="#">Swing</a>发表在<a href="#">《和平饭店》</a></p>
                <p>博主，给你发微博留言了，有空能回复下嘛？</p>
            </div>
            <div class="clearfix">
                <img src="/public/img/aboutme2.jpg">
                <p>由<a href="#">Swing</a>发表在<a href="#">《和平饭店》</a></p>
                <p>博主，给你发微博留言了，有空能回复下嘛？</p>
            </div>
            <div class="clearfix">
                <img src="/public/img/aboutme2.jpg">
                <p>由<a href="#">Swing</a>发表在<a href="#">《和平饭店》</a></p>
                <p>博主，给你发微博留言了，有空能回复下嘛？</p>
            </div>
            <div class="clearfix">
                <img src="/public/img/aboutme2.jpg">
                <p>由<a href="#">Swing</a>发表在<a href="#">《和平饭店》</a></p>
                <p>博主，给你发微博留言了，有空能回复下嘛？</p>
            </div>
            <div class="clearfix">
                <img src="/public/img/aboutme2.jpg">
                <p>由<a href="#">Swing</a>发表在<a href="#">《和平饭店》</a></p>
                <p>博主，给你发微博留言了，有空能回复下嘛？</p>
            </div>
        </div>
    </div>
</div>
{% endblock  %}