{%extends 'layout.html'%}
{%block content%}
<div class="blogList" id="gustbook">
	<h3>关于我</h3>
	<article>
		首先感谢你的来访，你的留言（评论或者建议）是对我们最好的支持！
		既然你点了这儿，有啥想说的就尽情的留言吧。
		如果大家有什么疑问或者处理不了的问题，也可以在下面留言。
		（PS:只针对专业相关问题，具体请看 关于我们 ）
		我们会在有空余时间的前提下尽力帮助你解决（但限于自身能力以及时间问题，可能并不能完全解决你的问题，请知悉。 请善用谷歌搜索，自给自足）。
		留言（评论）是一个网站的灵魂，除恶意中伤网站、垃圾留言外，我们会尊重你的留言，不恶意删除。 （PS:网站如孩子，我们会悉心呵护她的成长。）
		如果您的留言（评论）没有显示，请稍等，可能被“黑科技”误认为垃圾留言。
		但是请放心，对于这些被过滤的评论，我们会人工审核，当然这里会存在一个时间差。
		看到这里，期待你再次光临，你的留言是对我们最好的支持。
		如果可以我想请你留下足迹，做个纪念，让我们可以永久保存（我们会最大限度的保存网站数据，但不排除小学生作恶）。
		当然我们更欢迎各位和我们互换链接，不求权重、Pr，只要求内容积极向上，界面干净整洁，放在内页（首页已满），更多要求请看这儿。。
	</article>
</div>
{%endblock%}