{%extends 'layout.html'%}
{%block content%}
<div id="article" class="dailyArticle">
    <h3 class="article_main_title">日志归档</h3>
    <div class="timeline">
        <div class="timeline-date">
            <ul>
                <h2 class="second">
                    <span>2016年6月</span>
                </h2>
                <li>
                    <h3>12日</h3>
                    <dl class="right">
                        <span>琅琊榜</span>
                    </dl>
                </li>
                <li>
                    <h3>12日</h3>
                    <dl class="right">
                        <span>琅琊榜</span>
                    </dl>
                </li>
                <li>
                    <h3>12日</h3>
                    <dl class="right">
                        <span>琅琊榜</span>
                    </dl>
                </li>
                <h2 class="second">
                    <span>2016年6月</span>
                </h2>
                <li>
                    <h3>12日</h3>
                    <dl class="right">
                        <span>琅琊榜</span>
                    </dl>
                </li>
                <li>
                    <h3>12日</h3>
                    <dl class="right">
                        <span>琅琊榜</span>
                    </dl>
                </li>
                <li>
                    <h3>12日</h3>
                    <dl class="right">
                        <span>琅琊榜</span>
                    </dl>
                </li>
                <h2 class="second">
                    <span>2016年6月</span>
                </h2>
                <li>
                    <h3>12日</h3>
                    <dl class="right">
                        <span>琅琊榜</span>
                    </dl>
                </li>
                <li>
                    <h3>12日</h3>
                    <dl class="right">
                        <span>琅琊榜</span>
                    </dl>
                </li>
                <li>
                    <h3>12日</h3>
                    <dl class="right">
                        <span>琅琊榜</span>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

</div>
{%endblock%}