{%extends 'layout.html'%}
{%block content%}
<div id="link">
    <h3>友情链接</h3>
    <div class="row">
        <div class="link_main">
            <div class="col-sm-6 col-md-6 col-lg-3">
			    <img src="/public/img/back.jpg" class="link_img">
				<h5><a href="detail.html">似水流年</a></h5>
			</div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="/public/img/back.jpg" class="link_img">
                <h5><a href="detail.html">似水流年</a></h5>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="/public/img/back.jpg" class="link_img">
                <h5><a href="detail.html">似水流年</a></h5>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="/public/img/back.jpg" class="link_img">
                <h5><a href="detail.html">似水流年</a></h5>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="/public/img/back.jpg" class="link_img">
                <h5><a href="detail.html">似水流年</a></h5>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="/public/img/back.jpg" class="link_img">
                <h5><a href="detail.html">似水流年</a></h5>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="/public/img/back.jpg" class="link_img">
                <h5><a href="detail.html">似水流年</a></h5>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="/public/img/back.jpg" class="link_img">
                <h5><a href="detail.html">似水流年</a></h5>
            </div>
        </div>
    </div>
    <h3>简要说明</h3>
    <div class="link_con">
        <ul>
            <li>1.本站会优先选择同类原创的博客或网站</li>
            <li>2.界面整洁，不允许有弹窗广告</li>
            <li>3.您的站点主题内容积极向上，最好是资源分享类，IT技术宅，生活情感</li>
            <li>4.博客文章 >= 15 篇且建站时间 >= 6个月</li>
        </ul>
        <p>格式要求</p>
        <ul>
            <li>网站地址：</li>
            <li>网站名称：</li>
            <li>网站描述：</li>
            <li>网站ico图标：</li>
        </ul>
        <p>本站信息</p>
        <ul>
            <li>网站地址：https://Swing.com/</li>
            <li>网站名称：Swing</li>
            <li>网站描述：技术分享+生活+吐槽=Swing</li>
            <li>网站ico图标：</li>
        </ul>
    </div>
</div>
{%endblock%}